body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
    color:#333;
    scroll-behavior: smooth;
}

header {
    padding: 40px;
    background-color: #222;
    color:#fff;
}

section {
    padding: 40px 20px;
    text-align: center;
}

.project-card {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
}

button {
    padding:10px 20px;
    margin-top: 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.dark {
    background-color: #121212;
    color: #fff;
}

.dark .navbar {
    background-color: #000;
}

.dark header {
    background-color: #1f1f1f;
}

.dark .project-card {
    background-color: #1e1e1e;
}

.dark .github-card {
    background: #1e1e1e;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #222;
    color:#fff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.nav-links a:hover {
    color: #00adb5;
}

.hero {
    text-align: center;
    padding: 60px 20px;
    background-color: #393e46;
    color: #fff;
}

.gituhb-card {
    background: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    Max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#skills ul {
    list-style: none;
    padding: 0;
}

#skills li {
    margin: 10px 0;
}

@media (max-width: 768px) {
    body {
        background-color:#393e46;
    }
    .navbar {
        flex-direction: column;
        text-align: column;
    }

    .navlinks {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .hero {
        padding: 40px 10px;
    }

    section {
        padding: 40px 10px;
    }
}
